pip install platform
pip install psutil
pip install colorama
pip install requests
pip install jsonlib
pip install opencv-python
pip install face-recognition
pip install smtplib
pip install pywin32
